
/*Player Colors*/
:root {
    --player-1-color: var(--cyan);
    --player-1-inactive: rgba(23, 162, 184, 0.25);
    --player-2-color: var(--red);
    --player-2-inactive: rgba(220, 53, 69, 0.25);
    --player-3-color: var(--green);
    --player-3-inactive: rgba(40, 167, 69, 0.25);
    --player-4-color: var(--yellow);
    --player-4-inactive: rgba(255, 193, 7, 0.25);
    --player-5-color: var(--purple);
    --player-5-inactive: rgba(111, 66, 193, 0.25);
    --threat-possible: var(--orange);
    --selected: yellow;
}

/*Country Base Style*/
.country-button {
    position: absolute;
    background-color: rgba(211, 211, 211, 0.25);    
    width: 140px;
}
.is-supplyable {
    background-color: gray;
    border: 1px solid yellow;
}
.drop-threat {
    border: 2px solid orange;
}
.map-select {
    border: 2px solid red;
}


/*Player 1*/
.not-attackable.player-color-1, 
.out-of-range.player-color-1 {
    background-color: var(--player-1-inactive);
}
.player-color-1, 
.btn.player-color-1,
.player-color-1.current-player, 
.player-color-1.map-attack, 
.attack-threat.player-color-1, 
.join-threat.player-color-1, 
.map-defend.player-color-1,
.map-join.player-color-1 {
    background-color: var(--player-1-color);
}
.already-attacked.player-color-1, 
.not-movable.player-color-1, 
.not-supplyable.player-color-1 {
    background-color: var(--player-1-inactive);
}

/*Player 2*/
.not-attackable.player-color-2, 
.out-of-range.player-color-2 {
    background-color: var(--player-2-inactive);
}
.player-color-2, 
.btn.player-color-2,
.player-color-2.current-player, 
.player-color-2.map-attack, 
.attack-threat.player-color-2, 
.join-threat.player-color-2, 
.map-defend.player-color-2,
.map-join.player-color-2 {
    background-color: var(--player-2-color);
}
.already-attacked.player-color-2, 
.not-movable.player-color-2, 
.not-supplyable.player-color-2 {
    background-color: var(--player-2-inactive);
}

/*Player 3*/
.not-attackable.player-color-3, 
.out-of-range.player-color-3 {
    background-color: var(--player-3-inactive);
}
.player-color-3, 
.player-color-3.current-player, 
.player-color-3.map-attack, 
.attack-threat.player-color-3, 
.join-threat.player-color-3, 
.map-defend.player-color-3,
.map-join.player-color-3 {
    background-color: var(--player-3-color);
}
.already-attacked.player-color-3, 
.not-movable.player-color-3, 
.not-supplyable.player-color-3 {
    background-color: var(--player-3-inactive);
}

/*Player 4*/
.not-attackable.player-color-4, 
.out-of-range.player-color-4 {
    background-color: var(--player-4-inactive);
}
.player-color-4, 
.player-color-4.current-player, 
.player-color-4.map-attack, 
.attack-threat.player-color-4, 
.join-threat.player-color-4, 
.map-defend.player-color-4,
.map-join.player-color-4, 
.not-movable.player-color-4 {
    background-color: var(--player-4-color);
}
.already-attacked.player-color-4, 
.not-movable.player-color-4, 
.not-supplyable.player-color-4 {
    background-color: var(--player-4-inactive);
}

/*Player 5*/
.not-attackable.player-color-5, 
.out-of-range.player-color-5 {
    background-color: var(--player-5-inactive);
}
.player-color-5, 
.player-color-5.current-player, 
.player-color-5.map-attack, 
.attack-threat.player-color-5, 
.join-threat.player-color-5, 
.map-defend.player-color-5,
.map-join.player-color-5 {
    background-color: var(--player-5-color);
}
.already-attacked.player-color-5, 
.not-movable.player-color-5, 
.not-supplyable.player-color-5 {
    background-color: var(--player-5-inactive);
}

/*Country Border Styles*/
.map-attack, 
.map-defend, 
.map-join{
    border: 3px solid var(--selected);
}
.attack-threat, 
.join-threat {
    border: 3px solid var(--threat-possible);
}

/*Button Styles*/
#reset-winners, 
#complete-setup-button, 
#cancel-move, 
#decline-attack, 
#drop-select-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
}
#confirm-winners {
    position: absolute;
    top: 10px;
    right: 75px;
}
#confirm-attack {
    position: absolute;
    top: 10px;
    right: 135px;
}
#supply-drop-button {
    position: absolute;
    top: 10px;
    right: 264px;
}
#complete-move {
    position: absolute;
    top: 10px;
    right: 107px;
}
#make-drop {
    position: absolute;
    top: 10px;
    right: 178px;
}
#wild-drop0 {
    position: absolute;
    top: 10px;
    right: 330px;

}
#wild-drop1 {
    position: absolute;
    top: 10px;
    right: 451px;
}






/*Toolbar Styles*/
.toolbar {
    height: 150px;
    border: 2px solid red;
}
#country-information {
    outline: 2px solid yellow;
    position: absolute;
    top: 57px;
    left: 675px;
    width: 400px;
    height: 81px;

}



/*Area Styles*/
.battle-player {
    border: 2px solid yellow;
}
.deck-library-table-class {
    color: red;
    text-align: left;
}
#pre-game-screen {
    border: 2px solid blue;
}


/*Screen Styles*/

#battle-information {
    border: 2px solid black;
    background-image: url('art/battle-screen-1.jpg');
    background-repeat: no-repeat;
}
#map-countries {
    border: 2px solid black;
    background-image: url('art/world-map-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1500px;
    height: 1038px;
}



/*Country Positions*/


#afghanistan {
    top: 607px;
    left: 963px;
}
#alaska {
    top: 407px;
    Left: 36px;
}
#alberta {
    top: 473px;
    left: 184px;
}
#argentina {
    top: 1059px;
    left: 332px;
}
#brazil {
    top: 858px;
    left: 410px;
}
#central-america {
    top: 702px;
    left: 189px;
}
#china {
    top: 666px;
    left: 1118px;
}
#congo {
    top: 969px;
    left: 748px;
}
#east-africa {
    top: 897px;
    left: 847px;
}
#eastern-australia {
    top: 1062px;
    left: 1344px;
}
#eastern-usa {
    top: 600px;
    left: 304px;
}
#egypt {
    top: 794px;
    Left: 770px;
}
#great-britan {
    top: 528px;
    left: 560px;    
}
#greenland {
    top: 341px;
    left: 454px;    
}
#iceland {
    top: 429px;
    left: 588px;    
}
#india {
    top: 741px;
    left: 1043px;    
}
#indonesia {
    top: 949px;
    left: 1174px;
}
#irkutsk {
    top: 490px;
    left: 1152px;    
}
#japan {
    top: 547px;
    left: 1340px;    
}
#kamchatka {
    top: 402px;
    left: 1279px;    
}
#madagascar {
    top: 1090px;
    left: 944px;
}
#middle-east {
    top: 706px;
    left: 842px;    
}
#mongolia {
    top: 569px;
    left: 1164px;    
}
#new-guinea {
    top: 916px;
    left: 1346px;
}
#north-africa {
    top: 830px;
    left: 618px;
}
#northern-europe {
    top: 559px;
    left: 698px;    
}
#northwest-territory {
    top: 362px;
    left: 182px;    
}
#ontario {
    top: 441px;
    left: 306px;    
}
#peru {
    top: 890px;
    left: 306px;    
}
#quebec {
    top: 502px;
    left: 406px;    
}
#scandanavia {
    top: 391px;
    left: 710px;    
}
#siam {
    top: 805px;
    left: 1184px;    
}
#siberia {
    top: 321px;
    left: 1047px;    
}
#south-africa {
    top: 1125px;
    left: 751px;
}
#southern-europe {
    top: 649px;
    left: 708px;    
}
#ukraine {
    top: 421px;
    left: 848px;    
}
#ural {
    top: 466px;
    left: 998px;    
}
#veneseulea {
    top: 781px;
    left: 328px;    
}
#western-australia {
    top: 1105px;
    left: 1246px;
}
#western-europe {
    top: 676px;
    left: 588px;    
}
#western-usa {
    top: 568px;
    left: 188px;    
}
#yakutsk {
    top: 358px;
    left: 1188px;    
}


/*High Priority*/
.hide-item-class {
    display: none;
}